doctype html
html(lang="en")
    head
        title  WORD  
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/wordSelector.css')
        
    body
        #title
            h1 Synonym Search
            
        
            
        
    
        #select 
            #text
                h4 Select a word  
            
            input(type="text" id="word" )      
            br
            br
           
            button#submit(type="button") Submit 
    
        if checker 
            #newSelect
                p Here are a list of words that match what you typed:
                    each key in wordbank 
                        br
                        a(href="/"+key.id) #{h5=key.lemma} #{key.desc}
                        
                        
            

    script(src="./main.js") 

    
            