doctype html
html(lang="en")
    head
        title  WORD  
    body
    #title 
        h1 Welcome to Synonym Selector 

    #selector 
        h4 Select a word 
        
        input(type="text" id ="word")

        button#submit(type="button") Submit 
    script(src="./main.js") 